<div data-controller="search" class="mt-3">
  <%= form_with url: welcome_search_path, method: :get, data: { search_target: 'searchForm' }, class: "mx-auto w-fit" do |f| %>
    <%= f.text_field :search, data: { search_target: 'searchField', action: 'input->search#search' }, class: "mx-auto w-fit" %>
    <%= f.submit "Поиск", data: { search_target: 'submitButton', turbo_stream: true } %>
  <% end %>
</div>

<div id="search_preview">

</div>