<div id="<%= dom_id master %>">
  <article>
    <%= master.user.email %>
    <h2>
      <%= master.name %>
    </h2>
    <p>
      <strong>Nickname:</strong>
      <%= master.nickname %>
    </p>
  </article>
</div>
