<div id="<%= dom_id master %>" class="relative border-2 border-black rounded-[35px] px-8 py-9">
  <article>
    <%= master.user.email %>
    <h2>
      <%= master.name %>
    </h2>
    <h4 class="text-3xl tracking-[-0.03em]">
      <%= master.nickname %>
    </h4>
  </article>
</div>
