<div id="<%= dom_id master %>">
  <p>
    <strong>Name:</strong>
    <%= master.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= master.nickname %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= master.specialization %>
  </p>

</div>
