<div id="<%= dom_id master %>">
  <article>
    <h2>
      <%= master.name %>
    </h2>
    <p>
      <strong>Nickname:</strong>
      <%= master.nickname %>
    </p>
    <p>
      <strong>Specialization:</strong>
      <%= master.specialization %>
    </p>
  </article>
</div>
