<h1>Masters</h1>

<p style="color: green"><%= notice %></p>

<% if can? :create, Master %>
  <%= link_to "New master", new_master_path %>
<% end %>

<% if @user_masters.any? %>
  <div id="user_masters">
    <h2>Your Master</h2>
    <% @user_masters.each do |master| %>
      <%= render master %>
    <% end %>
  </div>
<% end %>

<div id="other_masters">
  <h2>All Masters</h2>
  <% @other_masters.each do |master| %>
    <%= render master %>
  <% end %>
</div>
