<% if current_user && current_user.is_master? && can?(:create, Master) && !@user_masters.present? %>
  <%= link_to "New master", new_master_path %>
<% end %>

<% if current_user && current_user.is_master? && @user_masters.present? %>
  <div id="user_masters" class="mt-10">
    <p class="text-xl tracking-[-0.02em] mb-3">Твой мастер</p>
    <% @user_masters.each do |master| %>
      <%= link_to(render(master), master_path(master), class: "hover:no-underline") %>
      <%= image_tag(master.master_image.url, class: 's-20', alt: 'Логотип inkz') %>
    <% end %>
  </div>
<% end %>

<p class="text-xl tracking-[-0.02em] mt-16 mb-3">Все мастера</p>
<div id="other_masters" class="grid grid-cols-3 gap-5 sm:grid-cols-1">
  <% @other_masters.each do |master| %>
    <%= link_to(render(master), master_path(master), class: "hover:no-underline") %>
  <% end %>
</div>
