<%
  tattoo_user_ids = []

  tattoo.users_who_favourited.each do |user|
    tattoo_user_ids << user.id
  end

  if current_user
    favourite_icon = tattoo_user_ids.include?(current_user.id) ? '★' : '☆'
  else
    favourite_icon = '☆'
  end
%>

<%= turbo_frame_tag dom_id(tattoo) do %>
  <div class="absolute px-1 py-0.5 text-2xl bg-purple-400 top-7 right-7">
    <%= link_to favourite_icon, toggle_favourite_tattoo_path(tattoo), class: 'hover:no-underline' %>
  </div>
<% end %>