<div id="<%= dom_id tattoo %>">
  <article>
   <%= image_tag tattoo.tattoo_image.url %>
    <h4>
      <%= tattoo.title %>
    </h4>
    <p>
      <mark><%= tattoo.specialization %></mark>
  </article>
</div>
