<div id="<%= dom_id tattoo %>">
  <article>
    <p>
      <strong>Title:</strong>
      <%= tattoo.title %>
    </p>

    <p>
      <strong>Specialization:</strong>
      <%= tattoo.specialization %>
    </p>

    <p>
      <strong>Master:</strong>
      <%= tattoo.master_id %>
    </p>
  </article>
</div>
