<h1>Tattoos</h1>
<% if notice.present? %>
  <%= content_tag(:p, notice, class: 'inline-block px-3 py-2 mb-5 font-medium bg-slate-700', id: 'notice') %>
<% end %>
<div id="tattoos card">
  <% @tattoos.each do |tattoo| %>
    <% master = tattoo.master %>
    <%= link_to tattoo do %>
      <%= render partial: 'tattoos/tattoo', locals: { master: master, tattoo: tattoo } %>
    <% end %>
  <% end %>
</div>
