<h1>Tattoos</h1>

<p style="color: green"><%= notice %></p>

<div id="tattoos card">
  <% @tattoos.each do |tattoo| %>
    <%= render tattoo %>
    <p>
      <%= link_to "Show this tattoo", tattoo %>
    </p>
  <% end %>
</div>

<%= link_to "New tattoo", new_tattoo_path %>


