<h1>Tattoos</h1>

<p style="color: green"><%= notice %></p>

<div id="tattoos card">
  <% @tattoos.each do |tattoo| %>
    <%= link_to tattoo do %>
      <%= render tattoo %>
    <% end %>
  <% end %>
</div>

