<section data-section="tattoo-show" class="mt-12 sm:mt-10 space-y-3 <%= Constants::TATTOO_PAGE_WIDTH %>" class="">
  <%= render(Ui::HeadingComponent.new(className: 'sm:!text-2xl', text: 'Новая татуировка')) %>
  <%= render "form", master: @master, tattoo: @tattoo %>
</section>