<p style="color: green"><%= notice %></p>

<%= render partial: 'tattoos/tattoo', locals: { tattoo: @tattoo, master: @master } %>
<%#= render @master.tattoos, master: @master %>

<div>
  <%= link_to "Back to tattoos", tattoos_path %>
</div>
