<% heightScreen = '!h-[100svh] !h-[100vh]' %>

<div class="grid relative place-items-center overflow-hidden text-white <%= heightScreen %>">
    <h1 class="font-normal text-[18.75rem] font-ink">INKZ</h1>
    <div class="absolute object-cover w-full h-full -z-10">
        <%= image_tag('https://plus.unsplash.com/premium_photo-1695058139748-b9f43c687e74?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', alt: 'Логотип INKZ') %>   
    </div>
</div>


<%#= turbo_frame_tag dom_id(@subscription) do %>
    <%#= render 'subscriptions/form', subscription: @subscription%>
<%# end %>
<p style="color: green"><%= notice %></p>
