<footer class="bg-black mt-[12.5vh] mb-[2.5vh] w-container mx-auto text-white rounded-[35px] p-10">
  <div></div>
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-6">
      <h2 class="text-3xl tracking-[-0.03em] leading-[1.10]">Подписывайтесь на рассылку</h2>
      <div class="pb-12">
        <input class="px-5 py-3 text-xl bg-transparent border-2 border-white rounded-xl placeholder:text-white" type="text" placeholder="Введите почту" />
        <button class="px-10 py-3 ml-4 text-2xl text-black duration-200 bg-white hover:bg-white/85 rounded-xl">Подписаться</button>
      </div>
    </div>
    <div class="flex items-end justify-between">
      <div class="flex flex-col gap-2 text-3xl tracking-[-0.03em] leading-[1.10]">
        <a href="https://vc.ru/u/2735041-inkz" target="_blank">VC.ru</a>
        <a href="https://vk.com/inkztattoo" target="_blank">Vkontakte</a>
      </div>
      <%= image_tag('hse.svg', alt: 'Логотип HSE Design') %>
    </div>
  </div>
</footer>
