<h1>Tattoos</h1>
<% if notice.present? %>
  <%= content_tag(:p, notice, class: 'inline-block px-3 py-2 mb-5 font-medium bg-slate-700', id: 'notice') %>
<% end %>
<table>
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Master</th>
      <th scope="col">User</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <div class="tattoos admin card">
      <% @tattoos.each do |tattoo| %>
        <%= render partial: 'tattoo', locals: { tattoo: tattoo } %>
      <% end %>
    </div>
  </tbody>
</table>
