<div class="w-full">
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Feedbacks</h1>
    <%= link_to "New feedback", new_feedback_path %>
  </div>

  <div id="feedbacks" class="min-w-full">
    <%= render @feedbacks %>
  </div>
</div>
