.nav_group {
  display: flex;
  gap: 1rem;
}

a:hover {
  text-decoration: none;
}

mark {
  padding: 0.25rem 0.5rem;
  background-color: #19b3e6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

img {
  margin-bottom: 1rem;
}

hr {
  height: 0;
  border: 0;
  border-top: 3px solid var(--muted-border-color);
  color: inherit;
}

article img {
  width: 30vw;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tattoos.admin.card img {
  width: 1vw;
}
