@font-face {
  font-family: 'Angst';
  src: url('Angst-NormalSerif.woff2') format('woff2'), url('Angst-NormalSerif.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('SuisseIntl-Regular.woff2') format('woff2'), url('SuisseIntl-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('SuisseIntl-Medium.woff2') format('woff2'), url('SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('SuisseIntl-Bold.woff2') format('woff2'), url('SuisseIntl-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
