.animate-bounce-custom {
  animation: bounce-custom 1.75s infinite;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
