<h1>Subscriptions</h1>

<p style="color: green"><%= notice %></p>

<%= link_to "New subscription", new_admin_subscription_path %>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">E-mail</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each_with_index do |master, index| %>
      <%= render partial: 'subscription', locals: { subscription: master, index: index } %>
    <% end %>
  </tbody>
</table>
