<nav>
  <ul>
    <li><strong>Tatu</strong></li>
  </ul>
  <ul class="nav_group">
    <%= link_to "Home", welcome_index_url %>
    <%= link_to "About", welcome_about_url %>
    <%= link_to "Master", masters_url %>
    <%= link_to "Tattoos", tattoos_url %>
  </ul>
</nav>